body {
    border: 1; /* placeholder */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Jetbrains Mono';
    font-style: bold;
}

header {
  border: 1; /* placeholder */
}

footer {
  border: 1; /* placeholder */
}

.nasi-goreng {
  font-style: italic; /* placeholder */
}

#nasi-goreng {
  font-style: italic; /* placeholder */
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}